/* src/assets/fonts.css */
@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('/src/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/Gilroy-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 600;
    src: url('/src/assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
         url('/src/assets/fonts/Gilroy-SemiBold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('/src/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/Gilroy-Bold.woff') format('woff');
  }
  