.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 4px; /* Adjust as needed */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the height of the underline */
    display: block;
    margin-top: 5px; /* Adjust as needed */
    right: 0;
    background: #f76f32; /* Orange color */
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #f76f32;
  }
  